.tile--title{
    min-height: 64px;
    font-size: 200%;
}

.left--title{
    float: left;
}

.right--title{
    float: right;
}

.card-title{
    font-size: 300%;
}

.card{
    width: 50%;
    margin-left: 8%;
    margin-top: 2%;
    
}



